@model DestekApp.Models.Kullanıcı

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Kullanıcı</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eposta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eposta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Şifre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Şifre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rol.RolAdı)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.KullanıcıID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
