@model IEnumerable<Adres>
@{
    Layout = "_Layout";
    ViewBag.Titlee = "Adreslerim";
}
<div class="main-container">
    <div class="container">
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success">
                <b>@ViewBag.SuccessMessage</b>
            </div>
        }

        <div id="EklemeDivi" class="card collapse">
            <div class="card-header">
                <h6 class="subtitle mb-0">
                    <div class="avatar avatar-40 bg-primary-light text-primary rounded mr-2"><span class="material-icons vm">add_location_alt</span></div>
                    Adres Ekle
                </h6>
            </div>
            <form asp-controller="Profil" asp-action="Adreslerim" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="card-body">
                    <div class="form-group float-label active">
                        <input name="AdresAdı" class="form-control">
                        <label class="form-control-label">Adres Adı</label>
                    </div>
                    <div class="form-group float-label">
                        <textarea name="AdresBilgisi" class="form-control" autofocus></textarea>
                        <label class="form-control-label">Adres Bilgisi</label>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-block btn-default rounded">KAYDET</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-block btn-default rounded" data-toggle="collapse" data-target="#EklemeDivi" aria-expanded="false" ariaaria-controls="EklemeDivi">İPTAL</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="card mt-4">
            <div class="card-header border-0 bg-none">
                <div class="row">
                    <div class="col align-self-center">
                        Adreslerim
                    </div>
                    <div class="col-auto align-self-center">
                        <button type="submit" class="btn btn-default btn-lg" data-toggle="collapse" data-target="#EklemeDivi" aria-expanded="false" ariaaria-controls="EklemeDivi">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th class="all font-weight-medium">Sıra No</th>
                            <th class="min-tablet font-weight-medium">Adres Adı</th>
                            <th class=" font-weight-medium">Adres Bilgisi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sıraSayısı = 1;
                        }
                        @foreach (Adres adres in Model)
                        {
                            <tr>
                                <td>@sıraSayısı</td>
                                <td>
                                    <p class="mb-0">@adres.AdresAdı</p>
                                </td>
                                <td>
                                    <p class="mb-0">@adres.AdresBilgisi</p>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#DüzenlePopup@(adres.AdresID)">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#ListelePopup@(adres.AdresID)">
                                        <span class="glyphicon glyphicon-list"></span>
                                    </button>
                                    <button type="submit" class="btn btn-default btn-sm" data-toggle="modal" data-target="#eminmisinizPopup@(adres.AdresID)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>

                                <div class="modal fade" id="eminmisinizPopup@(adres.AdresID)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-sm modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">Silmek istediğinize emin misiniz?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                @adres.AdresAdı isimli <br>
                                                @adres.AdresBilgisi kaydı silinecektir.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İPTAL</button>
                                                <form asp-controller="Profil" asp-action="AdresSil" method="post" asp-route-id="@adres.AdresID">
                                                    <button type="submit" class="btn btn-primary">SİL</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="DüzenlePopup@(adres.AdresID)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-sm modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">DÜZENLE</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <form asp-controller="Profil" asp-action="AdresGüncelle" method="post" asp-route-id="@adres.AdresID">
                                                <div class="modal-body">
                                                    <div class="form-group float-label active">
                                                        <input name="AdresAdı" class="form-control active" value="@adres.AdresAdı">
                                                        <label class="form-control-label">Adres Adı</label>
                                                    </div>
                                                    <div class="form-group float-label active">
                                                        <input name="AdresBilgisi" class="form-control active" value="@adres.AdresBilgisi">
                                                        <label class="form-control-label">Adres Bilgisi</label>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">İPTAL</button>
                                                    <button type="submit" class="btn btn-primary">GÜNCELLE</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            sıraSayısı++;

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
